@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    padding: 100px;
    width: 1213px;
    height: 830px;
    background: #FFFFFF;
    border-radius: 16px;
}

.title {
    font-family: 'Merriweather', serif;
    width: 91px;
    height: 40px;
    font-size: 32px;
    display: block;
    font-weight: 900;
    margin-bottom: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.search-wrapper {
    width: 327px;
    height: 64px;
    border: 1px solid #BFC8E6;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-right: 16px;
}

.search-input {
    flex: 1;
    border: none;
    font-size: 16px;
    outline: none;
}

.menu-wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.menu { 
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
}

.menu-active {
    background-color: #849FFF;
    border-radius: 8px;
    color: white;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card-wrapper {
    width: 327px;
    height: 208px;
    background-color:#FBFCFF;
    border-radius: 16px;
    padding: 24px;
    display: flex;
}
.card-active {
    border: 1px solid #BFC8E5;
    box-shadow: 0px 8px 23px 0px #DAE0F9B2;
}

.avatar {
    width: 97px;
    height: 97px;
    margin-right: 16px;
}

.card-right {
    padding-top: 20px;
}

.card-name {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 4px;
}

.card-address {
    font-size: 14px;
    margin-bottom: 16px;
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag {
    color: #516FD4;
    padding: 2px 8px;
    border-radius: 10px;
    border: 1px solid #BFC8E6;
    width: fit-content;
    gap: 10px;
}